/* Codecademy solution adds the white color for the body 
and just overrides the color for aquamarine and grey. Less Selectors. 

initially had text being centered in multiple selectors. Only need to do 
it with the body. Everything is centered anyway. */
body {
    background-color:black;
    text-align: center;
    font-family: Verdana;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

/* Style all <p> tags as grey instead of individually making rules for any 
sentence or for the copyright footer. */
p {
    font-size: 21px;
    color:gray;
}
/* I initally ID'd the main header with a name but there is only one <h1>
 tag. So the id name is kind of pointless. Be aware when there is only one 
 use of a tag in a file. Less work naming everything. */
#main-header {
    font-weight: normal;
    font-size: 50px;
}

.coming-soon-link {
    color:aquamarine;
    font-size: 16px;
    /* no underlining styling. just use <a> */
}

footer {
    text-align: right;
}

#phone-outline {
    margin-top: 20px;
}