h1, h2, h3 {
    color:white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color:gray;
}

body {
    background-color:black;
    text-align: center;
    font-family: Verdana;
}

#main-header {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.coming-soon-link {
    color:aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

footer {
    color:grey;
    text-align: right;
}

#phone-outline {
    margin-top: 20px;
}